section h1 {


  color: rgb(211, 180, 180);
  font-size: 100px;
  font-style: italic;
  background-color: black;

  
}
section ul li{
  margin: 40px;
  padding: 20px;
 font-size:inherit;
 color: rgb(15, 15, 14);
list-style: inside;
}
  
section ol li {

  
  margin: 40px;
  padding: 20px;
color: rgb(134, 33, 92);
margin-left: auto;
}
section nav {
  
  color: rgb(204, 34, 71);
  font-size: x-large;
  font-style: italic;
  padding-left: 70%;
}
section h3{
  font-size: xx-large;
  font-style: italic;
  float: none;
  color: #000;
  
}
section img {
  border-image: round;
  border-image-width: 3oopx;
}
section h2 {
  font-size: 50px;
  margin: 40px;
  padding: 20px;
  color: rgb(18, 91, 173);
}
footer {
  
  margin: 40px;
  padding: 100px;
  
}
body{
  background-color:lightblue;
}